.popup-main {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    color: #333;
    border-radius: 5px;
  }
  .notification-logo {
    margin-right: 20px;
  }
  .notification-logo img {
    width: 70px;
  }
  h2.notification-title {
    margin: 0;
  }
  

  
  .popup {
    display: none;
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  